<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BIS4._1_API_Application.Properties.Settings.acedbConnectionString"
            connectionString="Data Source=WINSRV2012DC\BIS_ACE;Initial Catalog=acedb;Persist Security Info=True;User ID=sa;Password=sa_s3k_pw"
            providerName="System.Data.SqlClient" />
        <add name="BIS4._1_API_Application.Properties.Settings.acedbConnectionString1"
            connectionString="Data Source=BIS23\BIS_ACE;Initial Catalog=acedb;Persist Security Info=True;User ID=sa;Password=sa_s3k_pw"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>